@import '../../../assets/scss/common/_variables';
:host {
    display: block;
    width: 100%;
    position: relative;
}

.mainpage {
    display: block;
    width: 100%;
    margin: auto;
    &__white {
        background-color: $white-color;
    }
    &__smoke {
        background-color: $smoke-color;
    }
}

.something {
    padding: 0 0 $offset-lg;
    & p {
        margin: $offset-sm 0;
        line-height: 1.3;
    }
    &__list {
        margin: $offset-lg 0;
        &-item {
            line-height: 1.4;
            position: relative;
            padding-left: $offset-md;
            &::before {
                content: "";
                top: 7px;
                left: 0;
                position: absolute;
                width: 5px;
                height: 5px;
                background-color: $red-color;
                border-radius: 50%;
            }
            & strong {
                font-weight: bold;
            }
        }
    }
}
