@import '../../../../assets/scss/common/_variables';

:host {
    display: block;
    width: 100%;
}

.catalog {
    position: relative;
    &__title {
        text-transform: uppercase;
        width: 100%;
        background-color: $darker-color;
        color: $white-color;
        padding: $offset-md $offset-lg;
        font-size: $font-size-base;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
        animation: all $animation-fast;
        position: relative;
        z-index: 11;
        &:hover {
            background-color: $dark-color;
        }
    }
    &__list {
        position: absolute;
        left: 0;
        top: 100%;
        background-color: $white-color;
        width: 100%;
        padding: 0;
        // margin: $offset-sm 0 0;
        transform: translateY(10px);
        border-radius: 5px;
        z-index: 9;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        & li {
            &:nth-last-child() {
                border-bottom: 1px solid $lightest-color;
                border-radius: 5px;
            }
        }
        & a {
            padding: $offset-sm $offset-lg;
            color: $dark-color;
            text-decoration: none;
            font-size: $font-size-base*.9;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 5px;
            &:hover {
                background-color: $smoke-color;
            }
            & div {
             max-width: 30px;
             width: 100%;   
             display: block;
             margin-right: $offset-lg;
             & img {
                display: block;
                margin: 0;
             }
            }
            & span {
                max-width: 200px;
                width: 100%;
                display: block;
                & b {
                    color: $light-color;
                }
            }
        }
    }
}