@import '../../../../assets/scss/common/_variables';

:host {
    display: block;
    width: 100%;
}

.catalog {
    position: relative;
    &__title {
        text-transform: uppercase;
        width: 100%;
        background-color: $darker-color;
        color: $white-color;
        padding: $offset-md $offset-lg;
        font-size: $font-size-base;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
        animation: all $animation-fast;
        &:hover {
            background-color: $dark-color;
        }
    }
    &__list {
        position: absolute;
        left: 0;
        top: 100%;
        background-color: $white-color;
        width: 100%;
        padding: 0;
        margin: $offset-lg 0 0;
        border-radius: 5px;
        & li {

        }
        & a {
            padding: $offset-sm $offset-lg;
            color: $dark-color;
            text-decoration: none;
            border-bottom: 1px solid $lightest-color;
            font-size: $font-size-base*.9;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & div {
             max-width: 30px;
             width: 100%;   
             display: block;
             margin-right: $offset-lg;
             & img {
                 display: block;
                 margin: 0;
             }
            }
            & span {
                max-width: 200px;
                width: 100%;
                display: block;
                & b {
                    color: $light-color;
                }
            }
            &:hover {
                background-color: $smoke-color;
            }
        }
    }
}