<section class="heroslide">
  <div class="heroslide__body wrapper">
    <div class="heroslide__top">
        <div class="reqban heroslide__top-left">
          <img src="http://starmix.su/pictures/carousel/5621.png" alt="">
        </div>
        <div class="news heroslide__top-right">
          <h4 class="news__title">Последние новости</h4>
          <div class="news__item">
            <div class="news__name">29 декабря 2017 выдача товара осуществяется до 14:00</div>
            <div class="news__date">28 декабря 2017</div>
            <div class="news__more">Читать далее</div>
          </div>
        </div>
      </div>
  </div>
</section>