@import '../../../../assets/scss/common/_variables';

:host {
    display: block;
    padding: $offset-lg 0;
    color: inherit;
}
.page-title {
    font-size: $font-size-lg;
    font-family: 'Roboto Slab', sans-serif;
}