<div class="bestsells">
  <article class="bestsells__article">
    <div class="bestsells__preview">
      <img src="http://starmix.su/pictures/product/small/4765_small.jpg" alt="" class="bestsells__img">
    </div>
    <div class="bestsells__body">
      <h1 class="bestsells__title"><a href="#">Starmix Haaga 477 Profi-Line - Ручная подметальная машина</a></h1>
      <div class="bestsells__desc">
        <p class="bestsells__desc_item">
          <span class="bestsells__desc_item-title">Объем мусоросборника, л</span>
          <span class="bestsells__desc_item-count">50</span>
        </p>
        <p class="bestsells__desc_item">
            <span class="bestsells__desc_item-title">Объем мусоросборника, л</span>
            <span class="bestsells__desc_item-count">50</span>
          </p>
          <p class="bestsells__desc_item">
              <span class="bestsells__desc_item-title">Объем мусоросборника, л</span>
              <span class="bestsells__desc_item-count">50</span>
            </p>
      </div>
      <div class="bestsells__control">
        <div class="bestsells__price">56000<span class="bestsells__currency"> руб.</span></div>
        <div class="bestsells__cart">
          <button class="button bestsells__button button__error"><img src="../../../assets/icons/shopping-cart_white.svg" alt=""><span> В корзину</span> </button>
        </div>
      </div>
    </div>
    <div class="bestsells__bottom">
      <div class="bestsells__comparsion">
        В сравнение
      </div>
    </div>
  </article>
</div>