<div class="page">
  <div class="page__section page__white">
    <div class="page__section wrapper-nooffset wrapper">
      <app-page-title title="О бренде Starmix"></app-page-title>
      <app-breadcrumbs></app-breadcrumbs>
      <div class="page__content">
        <div class="page__preview" style="background-image: url('http://starmix.su/userfiles/123.jpg');">
          <!-- <img src="http://starmix.su/userfiles/123.jpg" alt="about-picture"> -->
        </div>
        <p>
          Компания Electrostar, выпускающая товары под брендом Starmix,
          успешно работает на мировом рыке уже более 90 лет!</p>

        <p>История компании берет свое начало в 1925 году, когда компанией
          "Elektrotechnische Spezialfabrik fur Staubsauger und Geblase"
          был выпущен пылесос под маркой "Ventus", который стал ондим из
          первых немецких пылесосов на рынке. В течение первых двадцати лет
          работы компания достигла выдающихся результатов - около 70% производимой
          продукции поставляется на экспорт в 49 стан мира.</p>
        
        <p>За этот же период компанией были изобретены и выпущены на рынок первые
          в мире фены для рук с подачей теплого воздуха, а так же компания
          "Elektrotechnische Spezialfabrik fur Staubsauger und Geblase"
          была переименована в "Electrostar Schottle". В 1956 году начинается
          производство первых многофункциональных пылесосов и полотеров с функцией
          сбора пыли Starboy и Starmaster.</p>
        
        <p>В 1959 году появляется бренд Starmix. Изначально под этим брендом выпускалась
          только бытовая кухонная техника и санитарное оборудование). Уже в 1970 году, вся
          техника выпускается под брендом Starmix (Стармикс). В 1977 году начинается выпуск
          нового поколения универсальных пылесосов с байпасными моторами.</p>
        
        <p>В 1985 году модульная система и аэродинамический принцип тангециального прохождения
          воздуха "Циклон", реализованные в модели универсального пылесоса HG 8, делают завод
          Electrostar (Элекстростар) лидером на рынке и становятся основой последующих поколений
          профессиональных пылесосов. В 2000 году выходит новая серия серия мощных и эффективных
          промышленных пылесосов серии IS с функцией электромагнитной виброочистки фильтров. В 2010
          году выходит обновленная серия IS, которая,благодаря оптимизации конструкции и примененному
          принципу постоянной виброочистки фильтров во время работы без потери мощности всасывания и
          снижения потока воздуха, устанавливает новые стандарты качества и эффективности.</p>
        
        <p>В 2012 году компания  Electrostar приобретает завод по производству механических и аккумуляторных
          подметальных машин HAAGA, дополняющих линейку уборочной техники. В 2013 году начинается производство
          промышленных пылесосов с технологией iPulse, а в 2015 году на смену сериям GS и HS приходит линейка
          современнейших пылесосов NSG uClean.</p>
        
        <p>Благодаря почти вековому опыту производства пылесосов и электротехники, компания Electrostar
          производит высокотехнологичные и качественные товары, которые отвечают самым высоким стандартам.
          Именно из-за высочайшего качества, гарантия на все пылесосы Starmix (кроме серии GS) составляет 4 года!</p>
        
        <p>Наши специалисты помогут подобрать именно то оборудование Starmix,
          которое будет полностью отвечать именно Вашим требованиям, а постоянное
          наличие оригинальных расходных материалов, позволят эксплуатировать технику долгие годы.</p>  
      </div>
    </div>
  </div>
</div>
