<footer class="footer">
  <div class="footer__body wrapper">
    <div class="footer__top">
      <ul class="footer__list">
        <li class="footer__list-item footer__list-title"><strong>Информация</strong></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Гарантия и сервис</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Доставка и Оплата</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Контакты</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__list-item footer__list-title"><strong>Личный кабинет</strong></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Вход</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Регистрация</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Восстановить аккаунт</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__body footer__black">
    <div class="wrapper footer__bottom">
      <div class="footer__bottom-left">
          <p>© 2006 — 2017 Starmix.ru</p>
          <p>Информация на сайте Starmix.su не является публичной офертой.</p>
          <p>Публикация информации с сайта starmix.su без разрешения запрещена. Все права защищены.</p>
      </div>
      <div class="footer__bottom-right">
          <div class="footer__phone">
            <a href="tel:+74951044089" class="footer__phone-link">8(495) 104 40 89</a>
          </div>
      </div>
    </div>
  </div>
</footer>