<footer class="footer">
  <div class="footer__body wrapper">
    <div class="footer__top">
      <ul class="footer__list">
        <li class="footer__list-item"><a href="#" class="footer__list-link">Новости</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Как купить</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Доставка</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__list-item"><a href="#" class="footer__list-link">Сервис</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Статьи</a></li>
        <li class="footer__list-item"><a href="#" class="footer__list-link">Карта сайта</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__body footer__bottom">
    <div class="wrapper">
      <div class="footer__bottom-left">
          <p>© 2006 — 2017 Starmix.ru</p>
          <p>Информация на сайте Starmix.su не является публичной офертой.</p>
          <p>Публикация информации с сайта starmix.su без разрешения запрещена. Все права защищены.</p>
      </div>
      <div class="footer__bottom-right">

      </div>
    </div>
  </div>
</footer>