@import '../../../assets/scss/common/_variables';

:host {
    display: block;
    width: 100%;
}
.footer {
    &__top {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: $offset-xl 0 $gap-mc;
    }
    &__list {
        margin-right: $offset-xl;
        &-title {
            margin: 0 0 $offset-md;
        }
        &-item {

        }
        &-link {
            display: block;
            text-decoration: none;
            color: $dark-color;
            font-size: $font-size-sm*.8;
            margin: $offset-sm 0;
            transition: all $animation-fast;
            &:hover {
                color: $gray-color;
            }
            &:active {
                transform: scale(0.95);
                color: $gray-color;
            }
        }
    }
    &__black {
        background-color: $darker-color;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        color: $light-color;
        padding: $offset-xl 0 $offset-lg;
        &-left {
            max-width: 60%;
            display: block;
        }
        &-right {
            display: block;
            max-width: 40%;
        }
    }
    &__phone {
        &-link {
            font-weight: bold;
            font-size: $font-size-md;
            text-decoration: none;
            color: $white-color;

        }
    }
}
